@import url(https://fonts.google.com/specimen/Montserrat);
:root {
    margin: 0;
    padding: 0;
    background: #00487c;
}
body {
    background-color: #4bb3fd ;
}
h1 {
    color: #3e6680 ;
}
p {
    color: #0496ff;
}
.parent {
    position: relative;
}
.child {
    position: absolute;
    bottom: 0;
}
div {

}
div class {
    .hero img 
        display: block;
        width: 100%;
        height: auto;
}
