@import url(https://fonts.google.com/specimen/Montserrat);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color : blue;
    --panne-padding : 5px 42px;
}
div {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    
}
article {
    position: absolute;

}
article img  {
    float:left;

}

