@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Protest+Riot&display=swap');

* {
   margin: 1rem;
   padding: 0;
   box-sizing: border-box;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 1.1em;
    color: #333;
    background: #fff;

}
header {
    margin: 0 auto;
    width: 650px;
}
h1 {
    margin: 2rem;
    font-size: 1.5em;
    color: navy;
    text-align: left;
}
form {
    width: 650px;
    margin: 1;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}
fieldset {
    display: grid;
    grid-gap: rem;
    margin: rem;
    border: px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}
legend {
    padding: 0rem;
    color: navy;
    font-size: 1.3em;
}
label, input, button, select, textarea {
    font-family:'Times New Roman', Times, serif;
}
label {
    text-align: right;
    padding-right: 1rem;
 
}
input, select, textarea, button {
    padding: 0.5rem;
    font-size: 0.9rem;
  
}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
    
}
button {
    margin: 5rem;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    position: sticky;
    
    
}
button:hover {
    background-color: darkgreen;

}
footer {
    margin: 2rem;
    width: 650px;
    text-align: center;
    font-size: 0.9em;
    color: #777;
    border-top: 1px solid #ccc;

}
.form-item {
    display: grid;
    align-items: center;
}
.column1 {
    grid-template-columns: 0.5fr 1fr;
 
}
.column2 {
    grid-template-columns: 1fr 2fr;

}
.column3 {
    grid-template-columns: 2fr 2fr;
    justify-items: center;
 
    
}
.column4 {
    grid-template-columns: 2fr 3fr;
    justify-items: center;
}
.column5 {
    justify-items: center;
    margin: 0.rem o;
}
